body{
  margin:0;
  
}
h1{
  margin:0;
}
h3{
  margin-top:0;
}
p{
  margin:0;
}
/****************Main Container *****************/
.main-container{
  background-color: #7b8ead;
  height: 450px;
  width:1000px;
  text-align:center;
  margin:10px auto;
}
#welcome{
  color: #4d2725;
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  padding-top:40px;
  width:250px;
  margin:0 auto;

}
#main-title{
  color: #39404d;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 7rem;
  margin-top:20px;

}
#echo{
  color:#4d2725;
}
/************** Second Container *****************/
.second-container{
  height: 450px;
  width:1000px;
  text-align:center;
  margin:10px auto;
}
.small-box{
  background-color: #a63e38;
  float:left;
  height:100%;
  width: 550px;
}

.big-box{
  background-color: #2b4a6e;
  float:right;
  height:100%;
  width: 440px;
}
/************** Third Container *****************/
.third-container{
  height: 450px;
  width:1000px;
  text-align:center;
  margin:10px auto;
}
.small-box2{
  background-color: #2a572b;
  float:left;
  height:100%;
  width: 440px;

}
.big-box2{
  background-color: #3a3d22;
  float:right;
  height:100%;
  width: 550px;
}
#news-heading{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:7rem;
  color:#2b4a6e;
}
#education{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:7rem;
  color:#a63e38;
}
